.bg-img {
  background-image: url("../../../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  min-height: 800px;
}

.title {
  color: white;
}
